/*Font Families is Cantora One, Parisienne, Nanum Myeongjo, Dancing Script */
/*Universal för html osvosv*/
html {  
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;

}
h1 h2 h3 h5 {
    font-family: 'Cantora One', sans-serif;
}

/*Nav och Logo*/
.logo {
    font-family: 'Dancing Script', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
header {
    background-color: azure;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid 1px white;
    z-index: 5;
}
.header {
    display: flex;
    align-content: center;
    padding: 1.855rem
}

header .logo {
    flex: 1;
}
header nav ul {
    display: flex;
    list-style: none;
}
nav li {
    padding-left: 2.5rem;
}
nav a {
    text-decoration:  none;
    vertical-align: bottom;
    line-height: 1.6rem;
    font-size: 1.2rem;
    color: #4a4a4a;
    padding-right: 10px;
    font-family: 'Nanum Myeongjo', sans-serif;
    opacity: 0.9;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    background-color: rgb(227, 231, 231);
    transition: 0.6s;
    text-shadow: 1.5px 1.5px 3px rgb(70, 78, 231);
}
@media only screen and (max-width: 460px) {
    header, nav ul {
     display: flex;
     flex-direction: column;
     font-size: 1.5rem;
    
    }
    nav li {
        margin-bottom: .5rem;
        padding-left: .1rem
        
    }
}

/*Banner och container*/
.container {
    margin-top: 8rem;
    display: flex;
    width: 100%;
    height: 35rem;
    background-image: url('banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    align-items: center;
    justify-content: center;

}
.content {
    text-align: center;
    font-size: 3rem;
    font-family: 'Cantora One', sans-serif;
    font-weight: 700;
}
.container span {
    font-size: 10rem;
    font-family: 'Dancing Script', sans-serif;
}
@media only screen and (max-width: 460px) {
    .content, .container, .container span {
     font-size: 1.5rem;
    
    }
    .container {
        margin-top: 15rem;
        height: 29rem;
    }
}
