/*Font Families is Cantora One, Parisienne, Nanum Myeongjo, Dancing Script */
/*Universal för html osvosv*/
html {  
    font-family: 'Cantora One', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    background-color: beige;

}
h1 h2 h3 h5 {
    font-family: 'Cantora One', sans-serif;
}

/*Nav och Logo*/
.logo {
    font-family: 'Dancing Script', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
header {
    background-color: azure;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid 1px white;
    z-index: 5;
}
.header {
    display: flex;
    align-content: center;
    padding: 1.855rem
}

header .logo {
    flex: 1;
}
header nav ul {
    display: flex;
    list-style: none;
}
nav li {
    padding-left: 2.5rem;
}
nav a {
    text-decoration:  none;
    vertical-align: bottom;
    line-height: 1.6rem;
    font-size: 1.2rem;
    color: #4a4a4a;
    padding-right: 10px;
    font-family: 'Nanum Myeongjo', sans-serif;
    opacity: 0.9;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
    background-color: rgb(227, 231, 231);
    transition: 0.6s;
    text-shadow: 1.5px 1.5px 3px rgb(70, 78, 231);
}
@media only screen and (max-width: 460px) {
    header, nav ul {
     display: flex;
     flex-direction: column;
     font-size: 1.5rem;
     width: 100%;
    
    }
    nav li {
        width: 100%;
        margin-bottom: .5rem;
        padding-left: .1rem;
        
    }
}

/*Banner och container*/
.container {
    margin-top: 7.2rem;
    display: flex;
    width: 100%;
    height: 35rem;
    background-image: url('banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    align-items: center;
    justify-content: center;

}
.content {
    text-align: center;
    font-size: 3rem;
    font-family: 'Cantora One', sans-serif;
    font-weight: 700;
}
.container span {
    font-size: 10rem;
    font-family: 'Dancing Script', sans-serif;
}
@media only screen and (max-width: 460px) {
    .content, .container {
     font-size: 1.5rem;
    
    }
    .container span {
        font-size: 5rem;
    }
    .container {
        margin-top: 15rem;
        height: 29rem;
        background-image: none;
    }
}
h2, h3 {
    width: 100%;
    text-align: center;
    margin: 6rem 0 3rem 0;
    font-size: 3rem;
}
/*Info om owners*/

.about-kennel {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.3rem;
    justify-items: space-between;
}
.pics {
    margin-left: 5rem;
}
.row li {
    line-height: 3.3rem;
    
    
}
.about-kennel ul {
    list-style-type:square;
}
@media only screen and (max-width: 450px) {
    .about-kennel {
        flex-direction: column wrap;
    }
    .about-kennel img {
        display: none;
    }
}






/*Om hundarna*/
.featured {
    background-color: azure;
    display: flex;
    flex-flow: row wrap;
    max-width: 81.25rem;
    justify-content: center;
    margin: 0 auto;
  }
  
  .featured > div {
    text-align: center;
    margin: 5px;
    padding: 10px;
  }

/*Uppfödarna */

.uppfo {
    display: inline-flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    margin: 3rem auto;
}

.uppfo > div {
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-size: 1.3rem;
    line-height: 1.2rem;
    opacity: .9;
    margin-right: 6rem;

}
.uppfo img {
        border-radius: 20%;
      
}
@media only screen and (max-width: 450px) {
    .uppfo {
        flex-direction: column;
        width: 100%
    }
    .uppfo img {
        width: 22rem;
    }
    .uppfo h3 {
        line-height: 3rem;
    }
}
.contact-form {
    background-color: azure;
    display: flex;
    flex-flow: row wrap;
    max-width: 81.25rem;
    justify-content: center;
    margin: 0 auto;
}
input[type=text]{
    width: 100%;
    padding: 10px 10px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
  }
  
  input[type=button] {
    width: 100%;
    background-color: #76e2c9;
    color: rgb(24, 23, 23);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=button]:hover {
    background-color: #4d85d7;
  }
